//- html 
//-     head 
//-         title= myTitle
//-         link(href='/myCss.css')
//-     body 
//-         //- works for all atributes
//-         h1(class='myClass', id='myId') this comes #{message}
//-         //- works for classes and  ids
//-         //- h1.myClass.secondClass#myId this comes #{message}
//-         ul 
//-             each user in users 
//-                 li= user.userName + ': ' + user.email
//-         include foot.pug

html 
    head 
        title= myTitle
        link(rel='stylesheet' href='myCss.css')
    body 
        table 
            tr 
                th Name
                th Age 
                th Email 
                th UID
            each user in users
                tr
                    td= user.name
                    td= user.age
                    td= user.email
                    td= user.uid
                    td  
                        a(href='/delete/'+user.uid) Delete
                        a(href='/edit/'+user.uid) Edit
        a(href='/') Add Another User 